:root {
  --body_background: white;
  --body_color: black;
}
[data-theme="dark"] {
  --body_background: black;
  --body_color: white;
}

.features,
.bg-light-blue,
.best,
.subscribe,
.foter,
.blogs,
.navbars,
.nav-link,
.about {
  background-color: var(--body_background);
  color: var(--body_color);
}
* {
  transition: all 0.2s ease-in-out;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

li a {
  color: gray;
  text-decoration: none;
  /* font-size: 1.25rem; */
  line-height: 1.75rem;
  font-weight: 600;
}

.btn-medium {
  padding: 24px;
  font-size: 1.1em;
  letter-spacing: 2px;
}

/* .bg-light-blue {
  background-color: rgb(242, 245, 246);
} */
.features,
.subscribe {
  padding: 7em 0 7em 0;
}
.box {
  padding: 5px;
  box-shadow: 10px 10px 5px 5px rgba(33, 33, 33, 0.1);
}
p,
.type {
  color: gray;
}
.price,
svg {
  color: skyblue;
}
.prices:hover {
  transition: 1s;
  color: skyblue;
}
.subscribe-content {
  padding: 4em 0 4em 0;
}
.pr {
  /* text-decoration: none; */
  color: gray;
  letter-spacing: 1.5px;
  font-size: large;
}
@media screen and (max-width: 767px) {
  .map {
    flex-direction: column;
  }
}
.images {
  object-fit: contain;
  height: 275px;
}
